* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 92%;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.199);
}


.bg-gray {
    background-color: #F8F9FA;
}

.bg-gray-opa-1 {
    background-color: rgba(228, 230, 235, 0.162);
}

.mandates:hover {
    background-color: rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.avatar {
    background-color: rgba(228, 230, 235, 0.162);
    width: 40px;
    height: 40px;
    position: relative;
    opacity: 0.6;
    overflow: hidden;
}

.avatar a img {
    position: absolute;
    left: 0;
    top: 0;
   

}

.avatar:hover {
    opacity: 1;
}

.product i:hover {
    background-color: rgb(228, 230, 235);
}

.mandates a:hover {
    opacity: 1 !important;
}



.category:hover {
    background-color: rgb(228, 230, 235);
    cursor: pointer;
}

